html,
body {
    height: 100%;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: auto;
    max-width: 100%;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;   width: auto;
    max-width: 100%;
}

/* 다크 모드 스타일 */
[data-bs-theme="dark"] {
    --bs-body-bg: #121212;
    --bs-body-color: #e0e0e0;
    --bs-link-color: #bb86fc;
}

[data-bs-theme="dark"] .form-control {
    background-color: #333;
    color: #e0e0e0;
    border-color: #444;
}

[data-bs-theme="dark"] .btn-primary {
    background-color: #bb86fc;
    border-color: #bb86fc;
}

[data-bs-theme="dark"] .btn-primary:hover {
    background-color: #a573f1;
    border-color: #a573f1;
}
